//button
.button {
    padding: 13px 25px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background: $dark-green;
    border: 1px solid transparent;
    color: $white;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: transparent;
        border: 1px solid $dark-green;
        color: $dark-green;
    }

    &.outline {
        background: transparent;
        border: 1px solid $light-black;
        color: $light-black;

        &:hover {
            background: $light-black;
            border: 1px solid transparent;
            color: $white;
        }
    }

    &:active {
        transform: translateY(3px);
    }
}

//animation underline element

.underline {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $light-black;
        transition: all 0.3s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }
}

.main-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 78px;
    color: $light-black;
    font-family: "League Spartan", sans-serif;

    .green-style {
        color: $dark-green;
    }
}

.simple-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: $light-black;
    font-family: "League Spartan", sans-serif;
}

.main-form {
    min-width: 500px;
    z-index: 0;
    position: relative;

    button {
        position: absolute;
        top: 10px;
        right: 6px;
    }

    input {
        width: 100%;
        padding: 25px;
        background: $light-gray;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        font-family: "League Spartan", sans-serif;
        color: $light-black;
    }
}
